# Dependencies
node_modules/

# Build output
dist/

# User data (auto-created on first run)
data/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables (if added later)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vite
*.local

#process
curlite.pid
package-lock.json
